main{
    min-height: calc(100vh - 133px);
}
.logo{
    display: inline-block;
}
.logo img{
    max-width: 40px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
form {
    max-width: 451px;
    margin-inline: auto;
    padding: 15px 30px 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #ddd;
}
form input{
    max-width: 100%;
    width: 100%;
}
.nav-spacer {
    flex: 1 1 auto;
}